body {
    background-color: #FFFFFF;
}

/* WEB color #4D5AE5 */
/* STUDIO color #2E2F42 */
/* menu color #2E2F42 */
/* contacts color #434455 */
/* hero_text color #FFFFFF */
/* order_button color #4D5AE5 */
/* order_button text color #FFFFFF */
/* features_header color #434455 */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button{
    cursor: pointer;
}

.web{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4D5AE5;
}
.logo{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2E2F42;;
}

.menu_link {
 font-family: 'Roboto', sans-serif;
 font-weight: 500;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0.02em;

 color: #2E2F42;
 }

 .menu_link:hover {
    color: #404BBF;
 }

 


.contacts_item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts_item:hover,
.contacts_item:focus {
    color: #404BBF;
}

.filters_btn{
 font-family: 'Roboto', sans-serif;
 font-weight: 500;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0.04em;
 color: #4D5AE5;
}

.filters_btn{
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
  
}

.filters_btn:hover,
.filters_btn:focus {
 background-color: #404BBF;
 font-family: 'Roboto', sans-serif;
 font-weight: 500;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0.04em;
 color: #FFFFFF;
}

.card_header{
 font-family: 'Roboto', sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
 line-height: 24px;
 letter-spacing: 0.02em;
 color: #2E2F42;
}

.card_text{
 font-family: 'Roboto', sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;
}


.footer_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
   }